subflow.json
{
    "id": "861f3209.08548",
    "type": "subflow",
    "name": "気象庁API",
    "info": "気象庁の天気予報APIにアクセスするノードです。\n\nノードプロパティ設定で「地域」を選択するのみで、指定した場所の天気を取得できます。",
    "category": "analysis",
    "in": [
        {
            "x": 60,
            "y": 60,
            "wires": [
                {
                    "id": "6ba73f.5c8538c"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 480,
            "y": 60,
            "wires": [
                {
                    "id": "c4db6cd0.9f516",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "area",
            "type": "str",
            "value": "130000",
            "ui": {
                "icon": "font-awesome/fa-map-marker",
                "label": {
                    "ja": "地域"
                },
                "type": "select",
                "opts": {
                    "opts": [
                        {
                            "v": "011000",
                            "l": {
                                "ja": "宗谷地方"
                            }
                        },
                        {
                            "v": "012000",
                            "l": {
                                "ja": "上川・留萌地方"
                            }
                        },
                        {
                            "v": "013000",
                            "l": {
                                "ja": "網走・北見・紋別地方"
                            }
                        },
                        {
                            "v": "014030",
                            "l": {
                                "ja": "十勝地方"
                            }
                        },
                        {
                            "v": "014100",
                            "l": {
                                "ja": "釧路・根室地方"
                            }
                        },
                        {
                            "v": "015000",
                            "l": {
                                "ja": "胆振・日高地方"
                            }
                        },
                        {
                            "v": "016000",
                            "l": {
                                "ja": "石狩・空知・後志地方"
                            }
                        },
                        {
                            "v": "017000",
                            "l": {
                                "ja": "渡島・檜山地方"
                            }
                        },
                        {
                            "v": "020000",
                            "l": {
                                "ja": "青森県"
                            }
                        },
                        {
                            "v": "030000",
                            "l": {
                                "ja": "岩手県"
                            }
                        },
                        {
                            "v": "040000",
                            "l": {
                                "ja": "宮城県"
                            }
                        },
                        {
                            "v": "050000",
                            "l": {
                                "ja": "秋田県"
                            }
                        },
                        {
                            "v": "060000",
                            "l": {
                                "ja": "山形県"
                            }
                        },
                        {
                            "v": "070000",
                            "l": {
                                "ja": "福島県"
                            }
                        },
                        {
                            "v": "080000",
                            "l": {
                                "ja": "茨城県"
                            }
                        },
                        {
                            "v": "090000",
                            "l": {
                                "ja": "栃木県"
                            }
                        },
                        {
                            "v": "100000",
                            "l": {
                                "ja": "群馬県"
                            }
                        },
                        {
                            "v": "110000",
                            "l": {
                                "ja": "埼玉県"
                            }
                        },
                        {
                            "v": "120000",
                            "l": {
                                "ja": "千葉県"
                            }
                        },
                        {
                            "v": "130000",
                            "l": {
                                "ja": "東京都"
                            }
                        },
                        {
                            "v": "140000",
                            "l": {
                                "ja": "神奈川県"
                            }
                        },
                        {
                            "v": "150000",
                            "l": {
                                "ja": "新潟県"
                            }
                        },
                        {
                            "v": "160000",
                            "l": {
                                "ja": "富山県"
                            }
                        },
                        {
                            "v": "170000",
                            "l": {
                                "ja": "石川県"
                            }
                        },
                        {
                            "v": "180000",
                            "l": {
                                "ja": "福井県"
                            }
                        },
                        {
                            "v": "190000",
                            "l": {
                                "ja": "山梨県"
                            }
                        },
                        {
                            "v": "200000",
                            "l": {
                                "ja": "長野県"
                            }
                        },
                        {
                            "v": "210000",
                            "l": {
                                "ja": "岐阜県"
                            }
                        },
                        {
                            "v": "220000",
                            "l": {
                                "ja": "静岡県"
                            }
                        },
                        {
                            "v": "230000",
                            "l": {
                                "ja": "愛知県"
                            }
                        },
                        {
                            "v": "240000",
                            "l": {
                                "ja": "三重県"
                            }
                        },
                        {
                            "v": "250000",
                            "l": {
                                "ja": "滋賀県"
                            }
                        },
                        {
                            "v": "260000",
                            "l": {
                                "ja": "京都府"
                            }
                        },
                        {
                            "v": "270000",
                            "l": {
                                "ja": "大阪府"
                            }
                        },
                        {
                            "v": "280000",
                            "l": {
                                "ja": "兵庫県"
                            }
                        },
                        {
                            "v": "290000",
                            "l": {
                                "ja": "奈良県"
                            }
                        },
                        {
                            "v": "300000",
                            "l": {
                                "ja": "和歌山県"
                            }
                        },
                        {
                            "v": "310000",
                            "l": {
                                "ja": "鳥取県"
                            }
                        },
                        {
                            "v": "320000",
                            "l": {
                                "ja": "島根県"
                            }
                        },
                        {
                            "v": "330000",
                            "l": {
                                "ja": "岡山県"
                            }
                        },
                        {
                            "v": "340000",
                            "l": {
                                "ja": "広島県"
                            }
                        },
                        {
                            "v": "350000",
                            "l": {
                                "ja": "山口県"
                            }
                        },
                        {
                            "v": "360000",
                            "l": {
                                "ja": "徳島県"
                            }
                        },
                        {
                            "v": "370000",
                            "l": {
                                "ja": "香川県"
                            }
                        },
                        {
                            "v": "380000",
                            "l": {
                                "ja": "愛媛県"
                            }
                        },
                        {
                            "v": "390000",
                            "l": {
                                "ja": "高知県"
                            }
                        },
                        {
                            "v": "400000",
                            "l": {
                                "ja": "福岡県"
                            }
                        },
                        {
                            "v": "410000",
                            "l": {
                                "ja": "佐賀県"
                            }
                        },
                        {
                            "v": "420000",
                            "l": {
                                "ja": "長崎県"
                            }
                        },
                        {
                            "v": "430000",
                            "l": {
                                "ja": "熊本県"
                            }
                        },
                        {
                            "v": "440000",
                            "l": {
                                "ja": "大分県"
                            }
                        },
                        {
                            "v": "450000",
                            "l": {
                                "ja": "宮崎県"
                            }
                        },
                        {
                            "v": "460040",
                            "l": {
                                "ja": "奄美地方"
                            }
                        },
                        {
                            "v": "460100",
                            "l": {
                                "ja": "鹿児島県（奄美地方除く）"
                            }
                        },
                        {
                            "v": "471000",
                            "l": {
                                "ja": "沖縄本島地方"
                            }
                        },
                        {
                            "v": "472000",
                            "l": {
                                "ja": "大東島地方"
                            }
                        },
                        {
                            "v": "473000",
                            "l": {
                                "ja": "宮古島地方"
                            }
                        },
                        {
                            "v": "474000",
                            "l": {
                                "ja": "八重山地方"
                            }
                        }
                    ]
                }
            }
        }
    ],
    "meta": {
        "module": "node-red-contrib-jma-weather",
        "type": "jma-weather",
        "version": "0.0.1",
        "author": "kazuhitoyokoi",
        "desc": "気象庁の天気予報APIにアクセスするノードです。",
        "keywords": "node-red,jma,weather",
        "license": "Apache-2.0"
    },
    "color": "#C0DEED",
    "icon": "font-awesome/fa-sun-o",
    "status": {
        "x": 500,
        "y": 120,
        "wires": [
            {
                "id": "27cbfc4d.bd7fa4",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "c4db6cd0.9f516",
            "type": "http request",
            "z": "861f3209.08548",
            "name": "",
            "method": "GET",
            "ret": "obj",
            "paytoqs": "ignore",
            "url": "https://www.jma.go.jp/bosai/forecast/data/forecast/{{{payload}}}.json",
            "tls": "",
            "persist": false,
            "proxy": "",
            "authType": "",
            "x": 370,
            "y": 60,
            "wires": [
                []
            ]
        },
        {
            "id": "6ba73f.5c8538c",
            "type": "change",
            "z": "861f3209.08548",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "area",
                    "tot": "env"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 190,
            "y": 60,
            "wires": [
                [
                    "c4db6cd0.9f516"
                ]
            ]
        },
        {
            "id": "b3269d1b.e4137",
            "type": "status",
            "z": "861f3209.08548",
            "name": "",
            "scope": [
                "c4db6cd0.9f516"
            ],
            "x": 160,
            "y": 120,
            "wires": [
                [
                    "27cbfc4d.bd7fa4"
                ]
            ]
        },
        {
            "id": "27cbfc4d.bd7fa4",
            "type": "change",
            "z": "861f3209.08548",
            "name": "",
            "rules": [
                {
                    "t": "change",
                    "p": "status.text",
                    "pt": "msg",
                    "from": "httpin.status.requesting",
                    "fromt": "str",
                    "to": "要求中",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 350,
            "y": 120,
            "wires": [
                []
            ]
        }
    ]
}
